.hamburger{
  padding: 15px 10px;
  border: 1px 1px black;
  border-radius:20px; 
  background-color: black;
  width:40px;
   


    .hambutton{
      @include hamburger($white, $white, 20px, 16px, 2px, 3);

    }
    // .hambutton:after{
    //   font-family: Arial;
    //   content: "MENU";
    //   position: relative;
    //   padding: 10px 20px 10px 5px;
    //   color: black!important;
    // } 
}
 
.menutext{
  padding:10px;
}


.nav-title{
  color:#FEC325; 
  font-size:24px;
  border-bottom: 2px solid white;
  border-spacing:10px 10px;
}

.globalmenu{
  padding: 20px 20px;
  margin: 30px 30px;

  a:link, a:visited {
    color: white;
  }

  a:hover {
    color: $primary-color;
  }
}