.hamburger{
  padding: 10px 10px;
  border-radius:20px; 
  background-color: black;
  display:inline-block; 
   


    .hambutton{
      @include hamburger($white, $white, 25px, 15px, 2px, 3);

    }
  }
 
.menutext{
  padding:10px;
  color: white;
}


.nav-title{
  color:#FEC325; 
  font-size:24px;
  border-bottom: 2px solid white;
  border-spacing:10px 10px;
}

.globalmenu{
  padding: 20px 20px;
  margin: 30px 30px;

  a:link, a:visited {
    color: white;
  }

  a:hover {
    color: $primary-color;
  }
}