$hero-full-screen-bg: url('../img/FrontSecondary.jpg') center center no-repeat;
$hero-full-screen-bg-size: cover;
$hero-full-screen-text-color: $white;

// .hero-banner{
// background:#1f494d;

// }

// .hero-banner img{
// mix-blend-mode: multiply;
// filter: grayscale(100%);
// }

.hero-full-screen {
  // height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: $hero-full-screen-bg;
  background-size: $hero-full-screen-bg-size;

  #hero-content-wrapper{
    padding:5rem;
    @include breakpoint(small only){
      padding:1rem;
    }
  }

  // mix-blend-mode: multiply;
  // filter: grayscale(100%);

  .middle-content-section {
    text-align: center;
    color: $hero-full-screen-text-color;
      h1, h2{
      text-shadow: 1px 1px 7px black;
      }
      .reporting{
        width:600px;
      }

    // mix-blend-mode: multiply;
    // filter: grayscale(100%);
  }

  .top-content-section {
    width: 100%;
  }

  .bottom-content-section {
    padding: 1rem;
    width:100%;

    .clip{

      padding-left:650px; 
    }

    svg {
      height: rem-calc(60);
      width: rem-calc(60);
      fill: $hero-full-screen-text-color;
    }
  }

  // optional demo styles
  .top-bar {
    background: transparent;

    .menu {
      background: transparent;
    }

    .menu-text {
      color: $hero-full-screen-text-color;
    }

    .menu li {
      display: flex;
      align-items: center;
      padding:3px 3px;
      display:inline-block;
    }

    .menu a {
      color: $hero-full-screen-text-color;
      font-weight: bold;
    }
  }
}

$clean-hero-slider-accent: $warning-color;

.clean-hero-slider {
  .orbit-caption {
    width: auto;
    height: auto;
    background: $black;
    position: absolute;
    text-align: center;
    right: 0;
    left: 0;
    padding: 0.2rem 2rem;

    @include breakpoint(medium) {
      @include vertical-center;
      background: rgba(0,0,0,.6);
      text-align: left;
      width: 70%;
      right: 0;
      padding: 1rem 2rem;
    }

    @include breakpoint(xlarge) {
      padding-right: 10%;
    }

    @include breakpoint(xxlarge) {
      padding-right: 20%;
    }

    p {
      font-size: 0.9rem;
      line-height: 1.25;

      @include breakpoint(medium) {
        font-size: 1.1rem;
      }
    }

    h3 {
      color: $clean-hero-slider-accent;
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 0;

      @include breakpoint(medium) {
        font-size: 2.5rem;
        font-weight: normal;
      }
    }
  }
}

