<div data-sticky-container>
  <div data-sticky data-top-anchor="500" data-btm-anchor="end:bottom">
    <ul class="vertical menu drilldown" data-magellan>
        <li><a href="#"></a>          
          <ul class="menu vertical nested">
            <li><a href="#">Two A</a></li>
            <li><a href="#">Two B</a></li>
            <li><a href="#">Two C</a></li>
            <li><a href="#">Two D</a></li>
          </ul>
        </li>
      </li>
        <li>
          <a href="#">Organizations</a>
          <ul class="menu vertical nested">
            <li><a href="#">Two A</a></li>
            <li><a href="#">Two B</a></li>
            <li><a href="#">Two C</a></li>
            <li><a href="#">Two D</a></li>
          </ul>
        </li>
        <li><a href="#">Three</a></li>
        <li><a href="#">Four</a></li>
      </ul>
  </div>
</div>