<div data-sticky-container>
  <div data-sticky data-top-anchor="500" data-btm-anchor="end:bottom">
    <ul class="vertical menu drilldown" data-drilldown data-magellan>
      <li>
        <a href="#">4ID</a>
        <ul class="menu vertical nested">
          <li>
            <a href="#">1SBCT</a>
          </li>
          <li>
            <a href="#">2IBCT</a>
          </li>
          <li>
            <a href="#">3ABCT</a>
          </li>
          <li>
            <a href="#">4CAB</a>
          </li>
          <li>
            <a href="#">DIVARTY</a>
          </li>
          <li>
            <a href="#">4SB</a>
          </li>
          <li>
            <a href="#">HHBN</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Tenant Units</a>
        <ul class="menu vertical nested">
          <li>
            <a href="#">440th CABN</a>
          </li>
          <li>
            <a href="#">4th Engineer BN</a>
          </li>
          <li>
            <a href="#">627 HC</a>
          </li>
          <li>
            <a href="#">10th SFG (A)</a>
          </li>
          <li>
            <a href="#">13th ASOS</a>
          </li>
          <li>
            <a href="#">71st EOD</a>
          </li>
          <li>
            <a href="#">423rd Trans CO</a>
          </li>
          <li>
            <a href="#">743 MI BN</a>
          </li>
          <li>
            <a href="#">759th MP BN</a>
          </li>
          <li>
            <a href="#">AFSBN - Carson</a>
          </li>
          <li>
            <a href="#">DENTAC</a>
          </li>
          <li>
            <a href="#">MEDDAC</a>
          </li>
          <li>
            <a href="#">Public Health Activity - Fort Carson</a>
          </li>
          <li>
            <a href="#">WCAP</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Organizations/Services</a>
        <ul class="menu vertical nested">
          <li>
            <a href="#">US Army Garrison</a>
          </li>
          <li>
            <a href="#">Directorate of Public Works</a>
          </li>
          <li>
            <a href="#">Network Enterprise Center</a>
          </li>
          <li>
            <a href="#">Directorate of Human Resources</a>
          </li>
          <li>
            <a href="#">Directorate of Plans, Training, Mobilization and Security</a>
          </li>
          <li>
            <a href="#">Directorate of family and Morale, Welfare and Recreation</a>
          </li>
          <li>
            <a href="#">Logistics Readiness Center</a>
          </li>
          <li>
            <a href="#">Staff Judge Advocate</a>
          </li>
          <li>
            <a href="#">Public Affairs Office</a>
          </li>
          <li>
            <a href="#">Equal Opportunity</a>
          </li>
          <li>
            <a href="#">Equal Employment Opportunity</a>
          </li>
          <li>
            <a href="#">Inspector General</a>
          </li>
          <li>
            <a href="#">Directorate of Emergency Services</a>
          </li>
          <li>
            <a href="#">Defense Ammunition Center</a>
          </li>
          <li>
            <a href="#">Garrison Safety</a>
          </li>
          <li>
            <a href="#">Police</a>
          </li>
          <li>
            <a href="#">Fire</a>
          </li>
          <li>
            <a href="#">Gyms</a>
          </li>
          <li>
            <a href="#">Outdoor Recreation</a>
          </li>
          <li>
            <a href="#">Food</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>