<footer>
    <div class="flex-container align-center align-spaced">
      <div class="large-3 column">
        <ul class="menu vertical">
          <li>
            <a href="http://dodcio.defense.gov/DoDSection508/Std_Stmt.aspx">Acessibility</a>
          </li>
          <li>
            <a href="mailto:usarmy.carson.106-sig-bde.mbx.webmaster@mail.mil">Contact Webmaster</a>
          </li>
          <li>
            <a href="http://www.esd.whs.mil/FOID/foi/">FOIA</a>
          </li>
        </ul>
      </div>
      <div class="large-3 column">
        <ul class="menu vertical">
          <li>
            <a href="https://www.inscom.army.mil/isalute/default.aspx">iSalute</a>
          </li>
          <li>
            <a href="https://www.usa.gov/">usa.gov</a>
          </li>
          <li>
            <a href="https://www.defense.gov/">Defenselink</a>
          </li>
        </ul>
      </div>
      <div class="large-3 column">
        <ul class="menu vertical">
          <li>
            <a href="http://www.carson.army.mil/priv-sec.html">Privacy & Security</a>
          </li>
          <li>
            <a href="https://carson.armymwr.com/programs/fort-carson-gifts-donations">Donations</a>
          </li>
          <li>
            <a href="http://ice.disa.mil/index.cfm?fa=site&site_id=437">ICE</a>
          </li>
        </ul>
      </div>
  
      <div class="large-3 column">
        <ul class="menu vertical">
          <li>
            <a href="https://twitter.com/FtCarsonPAO">
              <i class="fi-social-twitter"></i> Fort Carson Twitter</a>
          </li>
          <li>
            <a href="https://www.facebook.com/USArmyFortCarson">
              <i class="fi-social-facebook"></i> Fort Carson Facebook</a>
          </li>
          <li>
            <a href="https://twitter.com/@4thinfdiv">
              <i class="fi-social-twitter"></i> 4ID Twitter</a>
          </li>
          <li>
            <a href="https://www.facebook.com/4thID/">
              <i class="fi-social-facebook"></i> 4ID Facebook</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>