<div id="offcanvas-menu-wrapper" class="globalmenu">
    <div class="grid-x grid-margin-x small-up-2 large-up-4">
      <div class="cell">
        <ul class="no-bullet">
          <li class="nav-title">ORGANIZATIONS</li>
          <li><a href="http://www.carson.army.mil/4id/leadership.html">Fort Carson Leadership</a></li>
          <li><a href="http://www.carson.army.mil/4id/index.html">4th Infantry Division</a></li>
          <li><a href="http://www.carson.army.mil/440cabn/">440th CABN</a></li>
          <li><a href="http://www.carson.army.mil/units/4eng/index.html">4th Engineer BN</a></li>
          <li><a href="http://www.carson.army.mil/10cshweb/">627th HC</a></li>
          <li><a href="http://www.carson.army.mil/10sfga/index.html">10th SFG (A)</a></li>
          <li><a href="http://www.carson.army.mil/units/13asos/index.html">13th ASOS</a></li>
          <li><a href="http://www.carson.army.mil/units/71eod/index.html">71st Ordnance</a></li>
          <li><a href="http://www.carson.army.mil/units/423tc/">423rd Trans CO</a></li>
          <li><a href="http://www.buckley.af.mil/About-Us/Fact-Sheets/Display/Article/731840/743rd-military-intelligence-battalion/">743rd MI BN</a></li>
          <li><a href="http://www.carson.army.mil/759thMP/">759th MP BN</a></li>
          <li><a href="http://www.carson.army.mil/afsbn-carson/">AFSBn-Carson</a></li>
          <li><a href="https://www.evans.amedd.army.mil/dentac/">DENTAC</a></li>
          <li><a href="https://www.evans.amedd.army.mil/">MEDDAC</a></li>
          <li><a href="http://www.carson.army.mil/sponsorship/PHA-sponsorship.html">Public Health Activity-Fort Carson</a></li>
          <li><a rel="external" href="https://www.armymwr.com/programs-and-services/world-class-athlete-program">WCAP</a></li>
          <li><a href="http://www.carson.army.mil/garrison/">Garrison Fort Carson</a></li>
          <li><a href="http://www.carson.army.mil/DPW/">Directorate of Public Works (DPW)</a></li>
          <li><a href="http://www.carson.army.mil/directorates/nec/">Network Enterprise Center (NEC)</a></li>
          <li><a href="http://www.carson.army.mil/dhr/index.html">Human Resources (DHR)</a></li>
          <li><a href="http://www.carson.army.mil/dptms/">Directorate of Plans, Training Mobilization and Security (DPTMS)</a></li>
          <li><a rel="external" href="https://carson.armymwr.com/">Directorate of Family and Morale, Welfare and Recreation (DFMWR)</a></li>
          <li><a href="http://www.carson.army.mil/lrc/">Logistics Readiness Center (LRC)</a></li>
          <li><a href="http://www.carson.army.mil/LEGAL/">Staff Judge Advocate (SJA)</a></li>
          <li><a href="http://www.carson.army.mil/pao/index.html">Public Affairs Office (PAO)</a></li>
          <li><a href="http://www.carson.army.mil/eo/index.html">Equal Opportunity (EO)</a></li>
          <li><a href="http://www.carson.army.mil/EEO/">Equal Employment Opportunity (EEO)</a></li>
          <li><a href="http://www.carson.army.mil/IG/">Inspector General (IG)</a></li>
          <li><a href="http://www.carson.army.mil/DES/">Directorate of Emergency Services (DES)</a></li>
          <li><a href="http://www.carson.army.mil/DES/pmo/">Police (PMO)</a></li>
          <li><a href="http://www.carson.army.mil/dac/index.html">Defense Ammunition Center</a></li>
          <li><a href="http://www.carson.army.mil/garrison-safety/index.html">Garrison Safety</a></li>
          <li><a href="https://www.commissaries.com/">Commissary (DECA)</a></li>
          <li><a href="https://www.shopmyexchange.com/">Army and Air Force Exchange Service (AAFES)</a></li>
          <li><a href="http://www.carson.army.mil/CPAC/">Civilian Personnel Advisory Center (CPAC)</a></li>
          <li><a href="http://www.carson.army.mil/units/blc/">Basic Leader Course</a></li>
        </ul>
      </div>
      <div class="cell">
        <ul class="no-bullet">
          <li class="nav-title">NEWCOMERS</li>
          <li><a href="http://www.carson.army.mil/sponsorship/index.html">Sponsorship Request</a></li>
          <li><a rel="external" href="https://carson.armymwr.com/programs/boss">Better Opportunities for Single Soldiers</a></li>
          <li><a rel="external" href="https://carson.armymwr.com/programs/army-community-service">Army Community Service (ACS)</a></li>
          <li><a rel="external" href="https://carson.armymwr.com/">DFMWR</a></li>
          <li><a href="http://www.carson.army.mil/4id/family-readiness.html">FRG (Family Readiness Group)</a></li>
          <li><a href="http://www.carson.army.mil/dhr/DHR/MPD/Sponsorship/PostMap.html">Directions to Fort Carson</a></li>
          <li><a href="http://www.carson.army.mil/fortcarson-2014/includes/docs/Fort-Carson-Brochure.pdf">El Paso County Clerk and Recorder Branch Office/DMV</a></li>
          <li><a rel="external" href="https://carson.armymwr.com/programs/employment-readiness">Employment Opportunities</a></li>
          <li><a rel="external" href="https://carson.armymwr.com/programs/exceptional-family-member-program">EFMP Assistance</a></li>
          <li><a href="https://www.evans.amedd.army.mil/">Healthcare Services</a></li>
          <li><a rel="external" href="https://www.move.mil/">Household Goods</a></li>
          <li><a rel="external" href="http://www.fortcarsonfamilyhomes.com/default.aspx">Housing Assistance On-Post</a></li>
          <li><a rel="external" href="https://www.housing.army.mil/">Housing Assistance Off-Post</a></li>
          <li><a href="http://www.carson.army.mil/dhr/DHR/MPD/PPB/DEERS-IDCards.html">ID Cards</a></li>
          <li><a rel="external" href="https://carson.armymwr.com/programs/loan-closet">Loan Closet</a></li>
          <li><a rel="external" href="https://www.ihg.com/armyhotels/hotels/us/en/reservation">Lodging</a></li>
          <li><a rel="external" href="https://carson.armymwr.com/programs/community-connection-newcomers">Newcomers Orientation</a></li>
          <li><a href="http://www.carson.army.mil/fortcarson-2014/includes/docs/Off-Limits-Memo-28July17.pdf">Off Limit's Areas</a></li>
          <li><a rel="external" href="https://fortcarson.isportsman.net/firearmregistration.aspx">Personal Firearms Registration</a></li>
          <li><a rel="external" href="http://www.mybaseguide.com/army/40/fort_carson">Post Guide</a></li>
          <li><a href="http://www.carson.army.mil/dhr/DHR/MPD/Sponsorship/PostMap.html">Post Map</a></li>
          <li><a href="http://www.carson.army.mil/dhr/DHR/MPD/Sponsorship/PostShuttle.html">Post Shuttle Service</a></li>
          <li><a href="http://www.carson.army.mil/dhr/DHR/MPD/Sponsorship/Outbound.html">Outbound</a></li>
          <li><a href="http://www.carson.army.mil/dhr/DHR/MPD/PPB/CAPS/InOutProcessing.html">Reporting to Fort Carson</a></li>
          <li><a href="https://carson.armymwr.com/programs/school-support-services">Schools</a></li>
          <li><a href="http://www.carson.army.mil/DES/sac/access-control.html">Visitor Center & Access Control</a></li>
        </ul>
      </div>
      <div class="cell">
        <ul class="no-bullet">
          <li class="nav-title">SOLDIER SERVICES</li>
          <li><a rel="external" href="https://carson.armymwr.com/programs/boss">Fort Carson BOSS</a></li>
          <li><a rel="external" href="https://carson.armymwr.com/programs/army-community-service">Army Community Service (ACS)</a></li>
          <li><a href="http://www.carson.army.mil/dhr/DHR/ASAP/EAP.html">Employee Assistance Program (EAP)</a></li>
          <li><a rel="external" href="https://www.myarmyonesource.com/default.aspx">Army OneSource (AOS)</a></li>
          <li><a rel="external" href="http://www.militaryonesource.mil/">Military OneSource (MOS)</a></li>
          <li><a rel="external" href="http://www.redcross.org/co/fort-carson">American Red Cross</a></li>
          <li><a href="http://www.carson.army.mil/dhr/DHR/ASAP.html">Army Substance Abuse Program</a></li>
          <li><a href="https://www.evans.amedd.army.mil/Services/33/Behavioral-Health">Behavioral Health</a></li>
          <li><a href="http://www.carson.army.mil/Chaplain/">Chaplain</a></li>
          <li><a rel="external" href="https://carson.armymwr.com/programs/family-advocacy-program1">Family Advocacy Program (FAP)</a></li>
          <li><a rel="external" href="https://carson.armymwr.com/programs/victim-advocacy-program">Victim Advocate</a></li>
          <li><a href="#0">Military Police (Emergency) 911</a></li>
          <li><a href="#0">Military Police (Non-Emergency) (719)-526-2333</a></li>
          <li><a rel="external" href="https://carson.armymwr.com/">Fort Carson Morale, Welfare and Recreation (MWR)</a></li>
          <li><a rel="external" href="https://carson.armymwr.com/programs/financial-readiness">ACS Financial Assistance Program</a></li>
          <li><a href="http://www.carson.army.mil/dmpo/index.html">Defense Military Pay Office</a></li>
          <li><a href="http://www.carson.army.mil/LEGAL/index.html">Tax Assistance</a></li>
          <li><a rel="external" href="http://dvbic.dcoe.mil/location/fort-carson-co">Defense Veterans Brain Injury Center (DVBIC)</a></li>
          <li><a href="https://www.evans.amedd.army.mil/">Evans Army Community Hospital</a></li>
          <li><a rel="external" href="https://carson.armymwr.com/programs/soldier-family-assistance-center">Soldier and Family Assistance Center</a></li>
          <li><a rel="external" href="https://www.tricareonline.com/portal/page/portal/TricareOnline/Portal">TRICARE Online</a></li>
          <li><a href="https://www.evans.amedd.army.mil/wtu/">Warrior Transition Battlion</a></li>
          <li><a rel="external" href="http://myarmybenefits.us.army.mil/">MyArmyBenefits </a></li>
          <li><a href="http://www.carson.army.mil/lrc/ssd.html">Logistics Readiness Center</a></li>
          <li><a href="https://www.army.mil/readyandresilient/">U.S. Army Ready and Resilient</a></li>
          <li><a href="https://carson.armymwr.com/categories/sports-and-fitness">Sports and Recreation Fort Carson</a></li>
        </ul>
      </div>
      <div class="cell">
        <ul class="no-bullet">
          <li class="nav-title">FAMILY SERVICES</li>
          <li><a rel="external" href="https://carson.armymwr.com/categories/cys-services">Fort Carson Child, Youth and School Services (CYSS)</a></li>
          <li><a rel="external" href="https://carson.armymwr.com/programs/school-support-services">School Liason Officers</a></li>
          <li><a rel="external" href="https://carson.armymwr.com/programs/mobilization-deployment-readiness-stability-support-operations-mdrsso">ACS Mobilization and Deployment Readiness</a></li>
          <li><a rel="external" href="https://carson.armymwr.com/programs/fort-carson-gifts-donations">Donations</a></li>
          <li><a rel="external" href="https://carson.armymwr.com/programs/army-community-service">Army Community Service (ACS)</a></li>
          <li><a href="http://www.carson.army.mil/dhr/DHR/ACES.html">Fort Carson Education Center</a></li>
          <li><a rel="external" href="https://carson.armymwr.com/programs/employment-readiness">ACS Employment Readiness</a></li>
          <li><a href="http://www.carson.army.mil/CPAC/">Civilian Personnel Advisory Center</a></li>
          <li><a rel="external" href="https://msepjobs.militaryonesource.mil/msep/">Military Spouse Employment Partnership (MSEP)</a></li>
          <li><a rel="external" href="https://www.ppwfc.org/">Pikes Peak Workforce Center</a></li>
          <li><a rel="external" href="https://www.usajobs.gov/">USA Jobs</a></li>
          <li><a rel="external" href="https://carson.armymwr.com/programs/army-volunteer-corps">Volunteer Opportunites</a></li>
          <li><a rel="external" href="https://carson.armymwr.com/categories/cys-services">Youth Opportunities</a></li>
          <li><a href="http://www.carson.army.mil/4id/family-readiness.html">FRG (Family Readiness Group)</a></li>
          <li><a href="https://www.evans.amedd.army.mil/Services/51/Army-Wellness-Center">Army Wellness Center (AWC)</a></li>
          <li><a href="https://www.evans.amedd.army.mil/Services/33/Behavioral-Health">Behavorial Health</a></li>
          <li><a rel="external" href="http://dvbic.dcoe.mil/location/fort-carson-co">Defense Veterans Brain Injury Center (DVBIC)</a></li>
          <li><a href="https://www.evans.amedd.army.mil/">Evans Army Community Hospital (EACH)</a></li>
          <li><a href="https://carson.armymwr.com/categories/community-support">Exceptional Family Members Program (EFMP)</a></li>
          <li><a rel="external" href="https://tricare.mil/dental">TRICARE Dental</a></li>
          <li><a rel="external" href="https://www.tricareonline.com/portal/page/portal/TricareOnline/Portal">Tricare Online</a></li>
          <li><a rel="external" href="https://www.uhcmilitarywest.com/uhcm/home.html">United Healthcare Military and Veterans</a></li>
          <li><a href="https://www.housing.army.mil/">Family Housing Services (AHOUS)</a></li>
          <li><a rel="external" href="https://www.army.mil/readyandresilient/">U.S. Army Ready and Resilient</a></li>
          <li><a href="http://www.carson.army.mil/Chaplain/">Religious Services</a></li>
          <li><a rel="external" href="https://carson.armymwr.com/programs/army-community-service">Army Community Service (ACS)</a></li>
          <li><a rel="external" href="https://www.myarmyonesource.com/default.aspx">Army OneSource</a></li>
          <li><a href="http://www.carson.army.mil/dhr/DHR/ASAP.html">Army Substance Abuse Program (ASAP)</a></li>
          <li><a rel="external" href="https://carson.armymwr.com/categories/cys-services">Child, Youth and School Services (CYSS)</a></li>
          <li><a href="http://www.carson.army.mil/dhr/DHR/ASAP/EAP.html">Employee Assistance Program (EAP)</a></li>
          <li><a rel="external" href="https://carson.armymwr.com/programs/exceptional-family-member-program">Exceptional Family Member Program (EFMP)</a></li>
          <li><a rel="external" href="https://carson.armymwr.com/programs/family-advocacy-program1">Family Advocacy Program (FAP)</a></li>
          <li><a rel="external" href="https://carson.armymwr.com/programs/army-community-service">Family Nuturing Center</a></li>
          <li><a href="https://carson.armymwr.com/programs/financial-readiness">Financial Readiness</a></li>
          <li><a href="http://www.carson.army.mil/dhr/DHR/MPD/PPB/DEERS-IDCards.html">ID Cards</a></li>
          <li><a rel="external" href="https://rapids-appointments.dmdc.osd.mil/">ID Cards Appointments</a></li>
          <li><a rel="external" href="http://www.militaryonesource.mil/">Military OneSource (MOS)</a></li>
          <li><a rel="external" href="http://pikespeak.co.networkofcare.org/veterans/services/index.aspx">Pikes Peak Region Network of Care</a></li>
          <li><a href="http://www.carson.army.mil/dhr/DHR/ASAP/SuicidePrevention.html">Suicide Preventation and Awareness</a></li>
          <li><a rel="external" href="https://carson.armymwr.com/programs/army-community-service">Fallen Heroes Family Center (FHFC)</a></li>
          <li><a rel="external" href="https://carson.armymwr.com/programs/victim-advocacy-program">Victim Advocate</a></li>
          <li><a rel="external" href="https://carson.armymwr.com/">Sports and Recreation at Fort Carson</a></li>
          <li><a rel="external" href="https://carson.armymwr.com/promos/slick-deals-soldiers-and-families">Slick Deals for Soldiers abd Families</a></li>
        </ul>
      </div>
      <div class="cell">
        <ul class="no-bullet">
          <li class="nav-title">RETIREE SERVICES</li>
          <li><a rel="external" href="https://soldierforlife.army.mil/retirement/echoes">Army Echoes</a></li>
          <li><a href="http://www.carson.army.mil/dhr/DHR/ASAP/EAP.html">Employee Assistance Program (EAP)</li>
          <li><a href="http://www.carson.army.mil/dhr/DHR/MPD/POB/CAC.html">Casualty Assistance</a></li>
          <li><a href="http://www.carson.army.mil/Chaplain/">Chaplain</a></li>
          <li><a rel="external" href="https://carson.armymwr.com/">DFMWR</a></li>
          <li><a href="http://www.carson.army.mil/dhr/DHR/ACES.html">Education</a></li>
          <li><a href="http://www.carson.army.mil/dhr/DHR/MPD/SFL-TAP.html">SFLTAP</a></li>
          <li><a rel="external" href="https://www.milsuite.mil/book/community/spaces/Civ-HR">CPOL</a></li>
          <li><a rel="external" href="https://www.usajobs.gov/">USA Jobs</a></li>
          <li><a href="http://www.carson.army.mil/dmpo/">Finance</a></li>
          <li><a rel="external" href="https://www.evans.amedd.army.mil/">Hospital</a></li>
          <li><a href="http://www.carson.army.mil/dhr/DHR/MPD/PPB/DEERS-IDCards.html">ID cards/DEERS</a></li>
          <li><a href="http://www.carson.army.mil/dhr/DHR/MPD/PPB/RSO/RetireeCouncil.html">Retiree Council</a></li>
          <li><a rel="external" href="https://www.ssa.gov/">Social Security</a></li>
          <li><a rel="external" href="https://carson.armymwr.com/categories/travel-and-lodging">Temporary Lodging</a></li>
          <li><a rel="external" href="http://triwest.com/">TriWest</a></li>
          <li><a href="http://www.carson.army.mil/DES/sac/access-control.html">Visitor Center & Access Control</a></li>
          <li><a href="http://www.carson.army.mil/dhr/DHR/MPD/PPB/Transitions.html">Transitions</a></li>
        </ul>
      </div>   
      <div class="cell">
        <ul class="no-bullet">
          <li class="nav-title">CIVILIANS</li>
          <li><a href="http://www.carson.army.mil/dhr/DHR/MPD/SFL-TAP.html">Soldier For Life Transitions Assistance Program</a></li>
          <li><a href="http://www.carson.army.mil/dhr/DHR/ASAP/EAP.html">Employee Assistance Program (EAP)</li>
          <li><a href="http://www.carson.army.mil/CPAC/">Civilian Personnel Advisory Center (CPAC)</a></li>
          <li><a rel="external" href="https://carson.armymwr.com/programs/employment-readiness">Employment Opportunities</a></li>
          <li><a rel="external" href="https://carson.armymwr.com/programs/financial-readiness">Financial Services</a></li>
          <!-- <li><a rel="external" href="http://www.afgelocal1345.org/">Fort Carson Union</a></li> -->
          <li><a rel="external" href="https://www.evans.amedd.army.mil/Services/43/Preventive-Medicine">Healthcare Services</a></li>
          <li><a rel="external" href="https://www.move.mil/">Household Goods</a></li>
          <li><a rel="external" href="https://www.housing.army.mil/">Housing Assistance</a></li>
          <li><a href="http://www.carson.army.mil/dhr/DHR/MPD/PPB/DEERS-IDCards.html">ID Cards</a></li>
          <li><a rel="external" href="https://carson.armymwr.com/programs/loan-closet">Loan Closet</a></li>
          <li><a rel="external" href="http://www.mybaseguide.com/army/40/fort_carson">Post Guide</a></li>
          <li><a href="http://www.carson.army.mil/dhr/DHR/MPD/Sponsorship/PostMap.html">Post Map</a></li>
          <li><a href="http://www.carson.army.mil/dhr/DHR/MPD/Sponsorship/PostShuttle.html">Post Shuttle Service</a></li>
          <li><a rel="external" href="https://carson.armymwr.com/programs/school-support-services">Schools</a></li>
          <li><a href="http://www.carson.army.mil/DES/sac/access-control.html">Visitor Center & Access Control</a></li>
          <li><a rel="external" href="https://carson.armymwr.com/programs/army-volunteer-corps">Volunteer Opportunities</a></li>
        </ul>
      </div>          
    </div>
  </div>