<div class="off-canvas position-top" id="offCanvas" data-off-canvas>
  {{> globalmenu}}
  <button class="close-button" aria-label="Close menu" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="{{hero-class}}">
  <div class="top-content-section">
    <div class="top-bar">
      <div class="top-bar-left">
        <span class="hamburger">
          <button class="hambutton" type="button" data-open="offCanvas"></button>

        </span>
        {{#ifpage 'index'}}
        <span class="menutext">Click Here For Menu</span>
        {{/ifpage}} {{#unlesspage 'index'}}
        <span class="menutext1">Click Here For Menu</span>
        {{/unlesspage}}
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li class="menu-text">
            <img src="{{root}}assets/img/army_star_light_background.png" alt="logo">
          </li>
          <li class="menu-text">
            <img src="{{root}}assets/img/4ID_Crest_Effects.png" alt="logo">
          </li>
          <li class="menu-text">
            <img src="{{root}}assets/img/FortCarsonLogo.png" alt="logo">
          </li>
        </ul>

      </div>

    </div>
  </div>
  <div id="hero-content-wrapper">
    <div class="grid-x">
      <div class="cell large-12">
        <div class="middle-content-section">
          {{#ifpage 'index'}}
          <h1>Welcome to Fort Carson</h1>
          <h3>The Best Hometown in the Army!</h3>
          {{/ifpage}} {{#ifpage '4ID'}}
          <h1>4th Infantry Division</h1>
          {{/ifpage}} {{#ifpage '1sbct'}}
          <div class="grid-x grid-padding-x">
            <div class="cell small-12 medium-10">
              <h3 class="unit-header">1st Stryker Brigade Combat Team</h3>
              <h5 class="unit-header">1SBCT</h5>
              <div class="social" align=left>
                <a href="https://www.facebook.com/RaiderBrigade/">
                  <i class="fi-social-facebook"></i>
                </a>
                <a href="https://twitter.com/RaiderBrigade">
                  <i class="fi-social-twitter"></i>
                </a>
              </div>
            </div>
            <div class="cell small-12 medium-2">
              <img src="{{root}}assets/img/crests/1-4Crest-Large.png">
            </div>
          </div>
          {{/ifpage}}
        </div>
      </div>

    </div>
  </div>
  <div class="bottom-content-section" data-magellan data-threshold="0">
    <div class="grid-x align-right">
      <div class="cell shrink">
        {{#ifpage 'index'}}
        <iframe width="300" height="175" src="https://www.youtube.com/embed/x4SNNmv1s48?rel=0" frameborder="0" allow="autoplay; encrypted-media"
          allowfullscreen></iframe>
        {{/ifpage}}
      </div>
    </div>
  </div>
</div>
{{#ifpage 'index'}}
<div class="cell callout reporting">

  <div class="hide" data-feed-template>
    <div data-feed-content></div>
  </div>

</div>
{{/ifpage}}