<div data-sticky-container>
  <div data-sticky data-top-anchor="500" data-btm-anchor="end:bottom">
    <ul class="vertical menu drilldown" data-magellan>
      <li>
        <a href="#first">Command Group</a>
      </li>
      <li>
        <a href="#second">1SBCT</a>
      </li>
      <li>
        <a href="#third">2IBCT</a>
      </li>
      <li>
        <a href="#four">3ABCT</a>
      </li>
      <li>
        <a href="#five">4CAB</a>
      </li>
      <li>
        <a href="#six">DIVARTY</a>
      </li>
      <li>
        <a href="#seven">4SB</a>
      </li>
      <li>
        <a href="#eight">HHBN</a>
      </li>
      <li>
          <a href="#nine">FRG</a>
        </li>
    </ul>
  </div>
</div>